<div fxLayout="column" fxLayoutAlign="center center" class="login-container">
  <mat-card
    class="login-card mat-elevation-z2"
    fxLayout="column" fxLayoutAlign="space-between default">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title i18n="@@signIn">Sign in</mat-card-title>
      <img class="brand-logo" *ngIf="logoURL" src="{{ logoURL }}" alt="logo">
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      <form
        fxLayout="column" fxLayoutAlign="space-between default"
        [formGroup]="verifyUserForm">
        <div class="container" [hidden]="hideUsername">
          <mat-form-field class="full-width">
            <input matInput i18n-placeholder="@@usernameOrPhone"
            placeholder="Username (email)" formControlName="username"
            class="form-control" name="username" #username required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
          <div class="spacer"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button
              (click)="verifyUser()"
              [disabled]="disableVerifyUserButton"
              mat-raised-button
              color="primary"
              i18n="@@next">Next</button>
          </div>
        </div>
      </form>
      <form [formGroup]="loginUserForm">
        <div hidden>
          <mat-form-field class="full-width">
            <input matInput formControlName="username" name="username">
          </mat-form-field>
        </div>
        <div class="password" [hidden]="hidePassword">
          <mat-form-field class="full-width">
            <input matInput i18n-placeholder="@@password"
            placeholder="Password" [type]="isPassHidden ? 'password' : 'text'"
            #password
            formControlName="password" required>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && togglePassHidden()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPassHidden">
              <mat-icon>{{isPassHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && clearLoginForm()" [attr.aria-label]="'Login with another account'" fxFlex="10">
              <mat-icon>refresh</mat-icon>
            </a>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
          <div class="spacer"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button (click)="onSubmitPassword()"
              [disabled]="disableVerifyPasswordButton"
              mat-raised-button color="primary"
              i18n="@@login" #btnLogin=matButton>Login</button>
            <a (click)="!disableVerifyPasswordButton && forgotPassword()"
              mat-button
              href="#"
              class="left-margin-30"
              i18n="@@forgot"
              [disabled]="disableVerifyPasswordButton">Forgot?</a>
          </div>
        </div>
      </form>
      <div class="otp" [hidden]="hideCode">
        <form [formGroup]="submitOTPForm">
          <mat-form-field class="full-width">
            <input matInput i18n-placeholder="@@otp" placeholder="OTP"
            formControlName="code" name="code" #otp autofocus required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
          <div class="spacer"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <button (click)="onSubmitOTP()"
              [disabled]="disableOnSubmitOTPButton"
              mat-raised-button
              color="primary"
              i18n="@@login">Login</button>
            <button (click)="resendOTP()"
              [disabled]="disableResendOTP"
              mat-button
              #reSendOTP
              class="left-margin-30"
              i18n="@@resendOTP">Resend OTP?</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="spacer" [hidden]="!enablePasswordLess">
    <mat-button-toggle-group>
      <mat-button-toggle  *ngIf="disableLoginChoice" (click)="showPasswordLessLogin()">Password-less OTP</mat-button-toggle>
      <mat-button-toggle  *ngIf="enablePasswordLess" (click)="webAuthnLogin()">Password-less Key</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="spacer" [hidden]="enablePasswordLess">
    <mat-card
      *ngIf="showSocialLogins"
      class="social-login-card mat-elevation-z2"
      fxLayout="column">
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title i18n="@@socialLogin">Social Login</mat-card-title>
      </mat-card-header>
      <mat-card-content
        fxLayout="column"
        fxLayoutAlign="start default"
        fxLayoutGap="5px">
        <button
          *ngFor="let login of socialLogins"
          (click)="connectWith(login)"
          mat-stroked-button>{{ login.name }}</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
